<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="hr.java2012.sonar" level="DEBUG" />
	<logger name="org.apache.struts2" level="DEBUG" />
	<logger name="com.opensymphony.xwork2.conversion.impl.XWorkConverter" level="OFF" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>